.ulbackground
   {
    padding: 0px 0px;
    margin: 5px;
    width: 100%;
    float: right;
    font-size: 26px;
    box-sizing: border-box;
    background-size: cover;
    text-align: center;
    text-shadow: 0px 0px 2px 4px; 
      background-color: #333;
   }
       .navbutton
         {
            display: inline;
            font-family: "courier new";
            padding: 0px;
            transition: 5s;
            cursor: pointer;
            border-radius: 10px;
             color: #f7f1e3;



         }
            .list-link
              {
                 padding:16px 8px;
                 text-decoration: none;
                 color: #495466;
              }
                 .list-link:hover
                     {

                     	background-color: black;
                     	 box-sizing: border-box;
                         background-size: cover;
                     }

body
{

  background-image: linear-gradient(white, grey, black);
}
.yash
{
    font-size: 28px;
    font-style: cursive;
    text-transform: capitalize;
}

.school
{
    text-align: right;
    font-size: 22px;
    text-transform: capitalize;
}
.college
{
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
    padding-left: 13%;
}
.intro
{
    text-align:right;
    font-size: 18px;
    color: #282828;
    text-transform: capitalize;
    padding-right: 13%;
}
.family
{
    text-align:left;
    font-size: 24px;
    color: #91918c;
    padding-left: 13%;

}
.dream
{
    text-align: right;
    font-size: 18px;
    color: #757c7c;
    text-transform: capitalize;
    padding-right: 15%;
    padding-top: 7%;
}
.tour
{
    text-align:center;
    font-size: 18px;
    color: #757c7c;
    text-transform: capitalize;
    padding-top:2%; 
    padding-right:5%; 
}
.skills
{
    text-align: left;
    font-size: 18px;
    color: #b7bec9;
    text-transform: capitalize;
}
.school-img
{
    position: left;
    float: left;
}
.col
{
    float: right;
}
.introduc
{
float: left;
}
.village
{
    float: right;
}
.dre
{
    float: left;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
  padding-left: 80%;
}
.nam
{
   float: right;
  width: 33.33%;
  padding: 5px;
  margin: -1%; 
}